.u-section-1 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-1 .u-shape-1 {
  width: 379px;
  height: 379px;
  margin: 198px auto 0 -437px;
}

.u-section-1 .u-image-1 {
  width: 248px;
  height: 248px;
  border-style: solid;
  margin: -313px auto 0 -378px;
}

.u-section-1 .u-image-2 {
  width: 246px;
  height: 287px;
  margin: -300px -264px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -268px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 1164px;
  background-image: none;
  min-height: 418px;
  margin: 0 auto 0 -24px;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 2px 0 -14px 24px;
}

.u-section-1 .u-image-3 {
  width: 258px;
  height: 236px;
  margin: -117px auto 0 -414px;
}

.u-section-1 .u-image-4 {
  width: 207px;
  height: 247px;
  margin: -55px 425px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 277px;
  margin: -277px -406px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 444px;
  height: 279px;
  margin: -128px auto 60px -167px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -472px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -625px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -369px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-right: 333px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -134px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -574px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-right: 133px;
  }
} .u-section-2 {
  background-image: linear-gradient(#5bcd29, #666666);
}

.u-section-2 .u-sheet-1 {
  min-height: 1798px;
}

.u-section-2 .u-text-1 {
  margin: -16px -395px 0 -351px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: -56px auto 60px -250px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#666666, #5bcd29);
}

.u-section-3 .u-sheet-1 {
  min-height: 2141px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 156px;
  margin: -1131px -405px 0 auto;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -137px -290px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 24px -353px 0 1304px;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 111px;
  margin: 25px -180px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 204px;
  height: 100px;
  margin: -103px -390px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -100px -390px 0 1326px;
}

.u-section-3 .u-shape-3 {
  width: 250px;
  height: 156px;
  margin: 348px auto 0 -279px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -127px auto 0 -186px;
}

.u-section-3 .u-text-4 {
  margin: 15px 1200px 0 -249px;
}

.u-section-3 .u-image-2 {
  width: 136px;
  height: 136px;
  margin: 0 auto 0 -412px;
}

.u-section-3 .u-shape-4 {
  width: 204px;
  height: 100px;
  margin: -106px auto 0 -249px;
}

.u-section-3 .u-text-5 {
  margin: -106px 1193px 60px -256px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2603px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -1444px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 177px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 48px;
    margin-left: 1204px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 982px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -420px;
    margin-left: 1210px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -1041px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 185px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 1100px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 24px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 261px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -473px;
    margin-right: 1093px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5283px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -1912px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 645px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 264px;
    margin-left: 1094px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 981px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 1759px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1341px;
    margin-left: 1100px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -3577px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 653px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 990px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 264px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 2017px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -2229px;
    margin-right: 983px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5119px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -1991px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 724px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 1004px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 866px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 1631px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1213px;
    margin-left: 1010px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -3414px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 732px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 900px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 1774px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -1986px;
    margin-right: 893px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 6330px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -3202px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 1935px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 904px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 910px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -4624px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 1942px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 800px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 793px;
  }
} .u-section-4 {
  background-image: linear-gradient(#5bcd29, #666666);
}

.u-section-4 .u-sheet-1 {
  min-height: 1073px;
}